# فایل‌های باینری کامپایل شده محلی
dnstt/dnstt-server/dnstt-server
dnstt/dnstt-client/dnstt-client

# باینری‌های ریپازیتوری را نگه دارید (binaries/ folder)
!binaries/
!binaries/dnstt-server
!binaries/dnstt-client

# فایل‌های فشرده
*.zip
*.tar.gz
*.tar

# فایل‌های موقت
*.log
*.tmp
.DS_Store

# کلیدهای خصوصی (امنیتی)
*.key
server.key

# فایل‌های محلی کاربر
info.txt
